/* Default styles for larger screens */
.gradient-background1 {
    background: linear-gradient(300deg, #5fdf10, hsl(131, 92%, 46%), #2c84c8);
    background-size: cover; /* Use cover for responsive background size */
    animation: gradient-animation 6s ease infinite;
    height: auto; /* Set height to auto to adjust based on content */
    min-height: 440px; /* Set a minimum height for the gradient background */
    padding-bottom: 30px;
  }
  
  .gradient-background2 {
    background: linear-gradient(300deg, #5fdf10, hsl(131, 92%, 46%), #2c84c8);
    background-size: cover; /* Use cover for responsive background size */
    animation: gradient-animation 6s ease infinite;
    height: auto; /* Set height to auto to adjust based on content */
    min-height: 670px; /* Set a minimum height for the gradient background */
  }
  
  .custom-button {
    background: linear-gradient(to bottom, #2fde08, #07730b);
    color: white;
    border: none;
  }
  
  .container {
    margin-bottom: 0px;
  }
  
  .nav-link {
    color: white;
  }
  
  .headingtext {
    margin-top: 0px;
    margin-bottom: 400px;
  }
  
  .wrapper {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Media query for screens smaller than 768px (typical mobile screens) */
  @media (max-width: 768px) {
    .gradient-background {
        height: 300px; /* Adjust the height for smaller screens */
    }
  
    /* Add more specific mobile styles here */
  }
  
  /* CSS for Desktop and Larger Screens */
  @media (min-width: 768px) {
    .btn-responsive {
      margin-right: 2px; /* Adjust the margin between buttons as needed */
    }
  }
  
  /* CSS for Mobile Screens */
  @media (max-width: 767px) {
    .btn-responsive {
      margin-top: 10px; /* Add space above buttons for better spacing on mobile */
      width: 100%; /* Make buttons 100% width on mobile screens */
    }
  }
  
  
  